doctype html
html(lang='en')

  head
    meta(charset="UTF-8")
    
    title Activation Link
  
  body
    
    h3 Hello, #{user.name}

    p
      | Activation Link: 

    p
      | #{hash}

    


