@import "vendor/less/bootstrap.less";

@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%); // #222
@gray-dark: lighten(@gray-base, 20%);   // #333
@gray: lighten(@gray-base, 33.5%); // #555
@gray-light: lighten(@gray-base, 46.7%); // #777
@gray-lighter: lighten(@gray-base, 93.5%); // #eee

@brand-primary: darken(#639bb4, 6.5%);
@brand-success: #7dbf94;
@brand-info: #95b7c6;
@brand-warning: #e7ca52;
@brand-danger: #df815a;

@input-border-focus: @brand-primary;

@grid-float-breakpoint: @screen-sm-max;

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg'),
         url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('../fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg'),
         url('../fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('../fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg'),
         url('../fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@media (max-width: @screen-xs-max) {
  .c-navigation {
    nav div > ul {
      float: none;
    }

    .navbar-collapse {
      .navbar-nav > li > a {
        text-align: left;
        border-top: none;
        border-left: 3px solid transparent; 
      }
      .navbar-nav > li > a:hover {
        border-top: none;
        border-left: 3px solid darken(@brand-primary, 10%);
      }
    }

    .navbar-default {
      .navbar-nav > .open > a, 
      .navbar-nav > .open > a:hover, 
      .navbar-nav > .open > a:focus {
        border-top: none !important;
        border-left: 3px solid darken(@brand-primary, 10%); 
      }
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .c-navigation {
    nav div > ul {
      float: none;
    }

    .navbar-collapse {
      .navbar-nav > li > a {
        text-align: left;
        border-top: none;
        border-left: 3px solid transparent; 
      }
      .navbar-nav > li > a:hover {
        border-top: none;
        border-left: 3px solid darken(@brand-primary, 10%);
      }
    }

    .navbar-default {
      .navbar-nav > .open > a, 
      .navbar-nav > .open > a:hover, 
      .navbar-nav > .open > a:focus {
        border-top: none !important;
        border-left: 3px solid darken(@brand-primary, 10%); 
      }
    }
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .c-navigation {
    nav div > ul {
      float: right;
    }
  }
}

@media (min-width: @screen-lg-min) { 
  .c-navigation {
    nav div > ul {
      float: right;
    }
  }
}

.mixin-box-shadow {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  position: relative;
  padding: 0 0 25px 0;
}

footer {
  border-top: 1px solid @gray-lighter;
  height: 25px;
  width: 100%;
  background: inherit;
  position: absolute;
  bottom: 0;
  color: @gray-light;
  font-size: 90%;

  div {
    position: absolute;
    bottom: 3px;
    right: 15px;
  }
}

.btn {
  border-radius: 0;
  border: none;
}

.form-control {
  border-radius: 0;
}

.c-navigation {
  .mixin-box-shadow();
  
  li {
    cursor: pointer;
  }

  .navbar-nav > li > a {
    border-top: 3px solid transparent; 
    text-align: center;
    min-width: 100px;
    color: @brand-primary;
  }

  .navbar-nav > li > a:hover {
    border-top: 3px solid darken(@brand-primary, 10%); 
    min-width: 100px;
    color: darken(@brand-primary, 10%);
  }

  .navbar {
    border: none;
    margin: 0;
  }

  .navbar-brand {
    font-family: 'League Gothic';
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    border-top: 3px solid transparent;
  }

  .navbar-default {
    background-color: inherit;

    .navbar-nav > .open > a, 
    .navbar-nav > .open > a:hover, 
    .navbar-nav > .open > a:focus {
      min-width: 100px;
      border-top: 3px solid darken(@brand-primary, 10%); 
      background-color: inherit;
      color: darken(@brand-primary, 10%) !important;
    }

    li > a {
      font-size: 110%;
    }
  }

  .dropdown-menu {
    .mixin-box-shadow();
    margin: 0;
    border: none;
    border-radius: 0;
  }
  .dropdown-menu > li > a {
    color: @brand-primary !important;
    border-left: 3px solid transparent;
  }

  .dropdown-menu > li > a:hover {
    color: darken(@brand-primary, 10%) !important;
    border-left: 3px solid darken(@brand-primary, 10%);
    background-color: transparent;
  }
}

.c-login {
  margin-top: 10%;

  .panel {
    .mixin-box-shadow();
    border-radius: 0;
  }

  label {
    margin-top: 10px;
  }
}

.c-alert {
  margin-top: 2%;
}

.c-area-container {
  margin-top: 2%;

  .panel {
    .mixin-box-shadow();
    border-radius: 0;
  }

  .panel-heading {
    border-radius: 0;
  }

  button {
    margin: 10px 0 10px 0;
  }
}
