@import "vendor/less/bootstrap.less";

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         darken(#639bb4, 6.5%);
@brand-success:         #7dbf94;
@brand-info:            #95b7c6;
@brand-warning:         #e7ca52;
@brand-danger:          #df815a;

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg'),
         url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('../fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg'),
         url('../fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('../fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg'),
         url('../fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@media (max-width: @screen-xs-max) {
  nav {
    button {
      margin: 15px 0 15px 0;
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  nav {
    button {
      margin: 15px 0 15px 0;
    }
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  nav {
    button {
      margin: 15px 0 15px 0;
    }
  }
}

@media (min-width: @screen-lg-min) { 

}

.btn {
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
}

.c-navigation {
  background-image: url('/dist/img/nav-background.png');
  background-repeat: repeat;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  padding-bottom: 20px;

  .c-user {
    button {
      position: absolute;
      top: 10px;
      right: -1px;
    }
    span {
      font-size: 90%;
    }
  }

  .c-site {
    button {
      position: absolute;
      top: 10px;
      left: -1px;
    }
  }

  .c-brand {
    img {
      margin-top: 20px;
    }
    h1 {
      font-family: 'League Gothic';
      text-align: center;
      text-transform: uppercase;
    }
  }

  nav {
    button {
      font-family: 'League Gothic';
      font-size: 160%;
    }
  }
}

.c-login {
  background-image: url('/dist/img/nav-background.png');
  background-repeat: repeat;
  height: 100%;
}
