<div class="c-navigation">
  <div class="container-fluid">
    <div class="c-site">
      <button type="button" class="btn btn-md btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Site
      </button>
    </div>

    <div class="c-user" data-ng-if="state.loggedIn">
      <button type="button" class="btn btn-md btn-default">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </div>

    <div class="c-brand">
      <img class="img-circle center-block c-brand-logo" width="100" height="100" 
           src="http://fillmurray.com/100/100" />
      <h1>Company Name</h1>
    </div>
  </div>

  <!-- Create navigation based on config and conditionals (ng-repeat) -->
  <nav role="navigation" data-ng-if="state.loggedIn">
    <div class="container">

      <div class="col-md-5">
        <div class="col-md-4" data-ng-if="state.access.page">
          <button type="button" class="btn btn-md btn-primary btn-block">Pages</button>
        </div>
        <div class="col-md-4" data-ng-if="state.access.post">
          <button type="button" class="btn btn-md btn-primary btn-block">Posts</button>
        </div>
        <div class="col-md-4" data-ng-if="state.access.media">
          <button type="button" class="btn btn-md btn-primary btn-block">Media</button>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <div class="col-md-4" data-ng-if="state.access.report">
          <button type="button" class="btn btn-md btn-primary btn-block">Reports</button>
        </div>
        <div class="col-md-4" data-ng-if="state.access.user">
          <button type="button" class="btn btn-md btn-primary btn-block">Users</button>
        </div>
        <div class="col-md-4" data-ng-if="state.access.settings">
          <button type="button" class="btn btn-md btn-primary btn-block">Settings</button>
        </div>
      </div>

    </div>
  </nav>
</div>
