<div class="container">
  <div class="c-login">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <form role="form" ng-submit="login.submit()">
              <label>Email: </label>
              <input class="form-control" type="email" ng-model="login.email.value" required/>
              <label>Password:</label>
              <input class="form-control" type="password" ng-model="login.password.value" required/>
              <br />
              <button class="btn btn-primary pull-right" login>Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
